DATABASE_URL=postgresql://postgres:password@localhost:5432/medcarev2_db?schema=tenant_template
DB_PUBLIC_URL=postgresql://postgres:password@localhost:5432/medcarev2_db?schema=public
NEXTAUTH_SECRET=""